button {
  background-color: rgba(0, 0, 0, 0); 
  color: #33A8DB; 
  background: -webkit-linear-gradient(#33A8DB, #1472B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 20px 50px 20px 50px;
  border-image-source: linear-gradient(#33A8DB, #1472B7);
  border-image-slice: 4;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) , rgba(51, 169, 219, 0.2), rgb(0, 0, 0, 0.6) ), url("/assets/images/banner.png");  
    background-color: rgb(0, 0, 0);         
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #33A8DB;
}

header p{
    margin: 0 auto;
    max-width: 570px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
}

h1 {
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 20px;
}

h2 {
    color: #33A8DB; 
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    max-width: 750px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: xx-large;
}

#course-content h2{
  padding-top: 70px;
  padding-bottom: 30px;
}

#course-content{
    text-align: center;
    padding: 50px;
    border-bottom: 1px solid #33A8DB;
    background-color: rgb(0, 0, 0);
    
}

span{
    color: #33A8DB; 
}

p {
    color: #ffffff; 
    margin: 0 auto;
    max-width: 780px;
    text-align: center;
}

div {
  color: #ffffff; 
  margin: 0;
  padding: 20px;
}

#transform-world {
    background-image: url("/assets/images/woman-code.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(0, 0, 0);
    min-height: 558px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #33A8DB;

}

#professional-challenges {
    background-color: rgb(0, 0, 0); 
    text-align: center;
    padding: 100px;
    border-bottom: 1px solid #33A8DB;
}

#professional-challenges p{
  padding-top: 50px;
}

footer {
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(black, #33a9db44);
    text-align: center;
    padding: 60px;
    display: block;
}

body, html {
    margin: 0;
    font-family: 'Raleway';
     
  }

.module {
    margin: 20px auto;
    max-width: 600px;
    border-radius: 50px;
    border-color: #33A8DB;   
    border-style: solid;
    border-width: 1px;
    background-color: #252525;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.6) inset;
}

#transform-world p{  
  font-size: 40px;
  text-align: left;
  max-width: 250px;
  text-transform: lowercase;    
  font-weight: 900;
  text-shadow: 3px 2px 0px #33A8DB;
  margin-left: 250px;
  padding-top: 200px;
}

a {
    text-decoration: none;
    color: #33A8DB;
    font-weight: 600;
  }

.logo{
    box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.2) inset;
    border-radius: 100%;
    max-width: 250px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}